{:paths ["ujima-os/src" "tools/src" "."]

 :tasks
 {e2e
  {:doc "Run an e2e test from e2e/tests"
   :requires ([e2e.runner :as e2e])
   :task (apply e2e/-main *command-line-args*)}

  tools
  {:doc "Tools CLI"
   :requires ([tools.cli :as cli])
   :task (apply cli/-main *command-line-args*)}

  dev
  {:doc "Start Ujima dev REPL"
   :requires ([tools.repl :as repl])
   :task (repl/start!)}}}