{:paths ["src" "test"]

 :deps {http-kit/http-kit {:mvn/version "2.8.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        org.babashka/http-client {:mvn/version "0.4.23"}
        com.taoensso/timbre {:mvn/version "6.6.1"}}

 :tasks
 {http
  {:doc "Run Ujima HTTP server"
   :task (apply shell "bb" "-m" "ujima.http"
                (or (seq *command-line-args*)
                    ["config/ujima.edn"]))}

  cli
  {:doc "Run Ujima CLI"
   :task (apply shell "bb" "-m" "ujima.cli"
                (or (seq *command-line-args*)
                    ["config/ujima.edn"]))}

  test-unit
  {:doc "Run unit tests"
   :task (shell "bb" "-cp" "src:test/unit" "-m" "runner")}

  test-e2e
  {:doc "Run an e2e test from test/e2e/tests"
   :requires ([e2e.runner :as e2e])
   :task (apply e2e/-main *command-line-args*)}

  test
  {:doc "Run all tests"
   :depends [test-unit test-e2e]}}}


